.col{
    display: inline-flex;
}

.content{
    margin-left: 200px;
    margin-top: 40px;
    background-color: rgba(59, 47, 71,0.4);
    min-width: 400px;
    max-width:  900px;
    min-height: 400px;
}

.col input{
    margin-top: 10px;
    margin-left: 250px;
    width: 350px;
    padding: 10px;
    outline: 0;
    border: 0;
    background-color: rgba(25, 24, 26, 0.753);
    color:white;
    font-weight: bold;
}
button{
    min-width: 55px;
    max-width: 55px;
    min-height: 45px;
    max-height: 45px;
}

.col-1{
    margin-top: 10px;
    width: 55%;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
} 
.col-2{
    margin-top: 10px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
}

.row .col-2-1{
    display: inline-block;
    max-width: 175px;

}
.row .col-2-2{
    display: inline-block;
    max-width: 60px;
}

#deg{
    margin-left: 50px;
}
#m{
    margin-left: 50px;
}